asgiref==3.8.1
certifi==2023.5.7
cx_Oracle==8.3.0
Django==4.2.14
gunicorn==22.0.0
Markdown==3.4.3
packaging==24.1
Pillow==10.0.0
qtgui==0.0.1
qtwidgets==1.1
sqlparse==0.5.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
django-heroku==0.3.1

