{% load static %}
<!DOCTYPE html>
<html lang="de">

<!-- Header: Zusatzinformationen zur Website, wie Titel, Links zu CSS/JavaScript-Dateien, Favicons, andere Metadaten -->

<head>
  <!-- Automatische Einstellung des Contents auf Handys mit Notch (bspw. ab iPhone X) -->
  <meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

  <!-- Titel im Tab -->
  <title>Experiment</title>

  <!-- Favicon der Website
    (Quelle) https://icons8.com/icon/41892/mind-map -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicons/Experiment_Favicon.png' %}">

  <!-- NavBar Design -->
  <link rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- CSS mit individueller Anpassung -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/experiment.css' %}" />

  <!-- JavaScript Einbindung -->
  <script src="{% static 'js/function.js' %}"></script>

  <!-- Standard-Skripte Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>

<!-- Body wird flexibel auf die Größe des Viewports angepasst, damit der Footer immer unten ist, Body ist flexibel mit Mindesthöhe 100%  -->

<body class="d-flex flex-column min-vh-100 center background" style="background-color: rgb(255, 255, 255)">
  <nav class="navbar navbar-dark navbar-expand-md fixed-top sticky-top py-1" id="startNav">
    <div class="container containernav"><a class="navbar-brand js-scroll-trigger" href="/B">Experiment</a>
      <!-- UNILOGO: Weiterleitung zu Georg-August-Universität Göttingen -->
      <div>
        <a href="https://www.uni-goettingen.de/">
          <img class="navlogo" src="{% static 'pictures/Universität-Göttingen-Logo.png' %}">
          <!-- (Quelle) Georg-August-Universität Göttingen https://www.uni-goettingen.de/de/589410.html -->
        </a>
      </div>
    </div>
  </nav>

  <!-- Container 1: Einleitung, Experiment-Ablauf -->
  <div class="container containerextend round center">
    <div class="rowextend">
      <h2 class="h2 center">Das Szenario</h2>
      <p>
        Als langjähriger Kunde Ihrer Krankenkasse mit Tausenden von Kundenbetreuungen nutzen Sie regelmäßig deren
        Dienstleistungen für monatliche Gesundheits-Checks und andere medizinische Anliegen. Kürzlich wurde Ihnen
        mitgeteilt, dass Ihre Krankenkasse das Ziel eines schweren Hackerangriffs war, bei dem sensible Daten verloren
        gegangen sind. Ihre Krankenkasse hat daraufhin reagiert und Sie mit der folgenden Nachricht per E-Mail
        informiert.
        <br><br>
        <br>
      </p>
    </div>
  </div>
  <!-- Container Nachricht -->
  <div class="container containerextend round center">
    <div class="rowextend center">
      <h2 class="center">Informationen zum kürzlichen Sicherheitsvorfall</h2>
      <br><br>
      <p class="justify">
        Sehr geehrter Kunde,<br><br> wir möchten uns zunächst für das in uns gesetzte Vertrauen bedanken, das Sie uns
        über die Jahre als langjähriges Mitglied entgegengebracht haben. Es ist uns wichtig, Sie transparent und
        umfassend über eine Angelegenheit zu informieren, die sowohl unsere Krankenkasse als auch Ihre
        personen­bezogenen Daten betrifft. <br><br> Kürzlich wurde unsere Krankenkasse Ziel eines Hackerangriffs. Dieser
        Vorfall wurde durch ein fehlerhaftes Sicherheits­update verursacht, das eine Schwachstelle in der Datenbank
        freigab. In der ersten Augustwoche gelang es den Angreifern über einen Zeitraum von drei Tagen, Zugang zu
        einigen unserer Systeme zu erlangen. Unsere ersten Analysen deuten darauf hin, dass personen­bezogene Daten,
        einschließlich Namen, Adressen, Versicherungs­nummern, Kranken­geschichten und Bank­informationen von etwa
        15.000 Kunden betroffen sein könnten. Wir haben umgehend auf diesen Vorfall reagiert und externe
        Sicherheitsexperten hinzu­gezogen, um den Angriff zu untersuchen und die bestehenden Schwachstellen zu
        adressieren. <br><br> Es ist uns bewusst, wie wichtig der Schutz Ihrer Daten ist und wir arbeiten mit Hochdruck
        daran, das volle Ausmaß dieses Vorfalls zu verstehen und entsprechende Maßnahmen zu ergreifen. Bitte seien Sie
        versichert, dass wir alles in unserer Macht Stehende tun, um die Angelegenheit rückstandslos auf­zuklären, um
        solche Vorfälle in Zukunft zu verhindern. Wir werden Sie fortlaufend über die weitere Entwicklung und Maßnahmen
        informieren und bitten um Ihr Verständnis in dieser herausfordernden Zeit.
      </p>
      <br>
      <p>Mit freundlichen Grüßen
        <br>
        [Ihre Krankenkasse]<br>
      </p>
      <br>
      <hr>
      <div class="col center">
        <div class="rowextend center">
          <div class="formBox">
            <button class="btn submit rounded-pill btn-primary" type="submit"
              onclick="location.href='https://wiwigoettingen.eu.qualtrics.com/jfe/form/SV_brYXI0ij3LLsOSa';">Weiter
              zur Umfrage</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer ist unten fixiert -->
  <footer class="mt-auto">
    <div class="container jumbotron vertical-center footer">
      <span>© 2023 Georg-August-Universität Göttingen</span>
    </div>
  </footer>
</body>

</html>