{% load static %}
<!DOCTYPE html>
<html lang="de">

<!-- Header: Zusatzinformationen zur Website, wie Titel, Links zu CSS/JavaScript-Dateien, Favicons, andere Metadaten -->

<head>
    <!-- Automatische Einstellung des Contents auf Handys mit Notch (bspw. ab iPhone X) -->
    <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Token für Datenbankanbindung -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Titel im Tab -->
    <title>VitaNova Intranet</title>

    <!-- Favicon der Website
    (Quelle) https://www.svgrepo.com/svg/389918/medicine-symbol -->
    <link rel="shortcut icon" type="image/png" href="{% static 'svg/health-insurance.svg' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS mit individueller Anpassung -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/externalCSS/mailinglist.css' %}" />
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">

    <!-- JavaScript Einbindung -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/function.js' %}"></script>
    <script src="{% static 'js/databaseConnection.js' %}"></script> <!-- Datenbankanbindung einbinden POST/GET -->

    <!-- Standard-Skripte Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</head>

<!-- Body wird flexibel auf die Größe des Viewports angepasst, damit der Footer immer unten ist, Body ist flexibel mit Mindesthöhe 100%  -->

<body onload="openLoginPopup()" id="background">
    <div id="mainElement" class="mainBlur">
        <!-- Navigationsbar-->
        <nav class="navbar navbar-light navbar-expand fixed-top sticky-top py-0 center">
            <div id="containernav" class="d-flex flex-column align-items-start w-100">
                <!-- Oberer Teil der Navbar -->
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="navbar-brand js-scroll-trigger navsize a">VitaNova</div>
                    <div class="healthSymbolPosition">
                        <!-- Health-Insurance-Logo -->
                        <!-- (Quelle) https://www.svgrepo.com/svg/389918/medicine-symbol -->
                        <a><img class="health-symbol" src="{% static 'svg/health-insurance.svg' %}"></a>
                    </div>
                    <!-- Timer -->
                    <div class="ml-auto" id="timerContainer">
                        <span id="timer">10:00</span>
                    </div>
                    <!-- Navbar Bereich Rechts -->
                    <div class="hideLoginArea align-items-center" id="LoginArea">
                        <!-- Message-Logo -->
                        <!-- (Quelle) https://www.svgrepo.com/svg/501625/message?edit=true -->
                        <a onclick="handleMailboxNavigation()">
                            <img class="messageUnread-logo" src="{% static 'svg/messageUnread.svg' %}"
                                id="messageUnread" alt="Nachrichten">
                        </a>
                        <div class="navbar-brand js-scroll-trigger navsize a">
                            <span id="participantNameSpan">{{ participantName }}</span>
                        </div>
                    </div>
                </div>
                <!-- Unterer Teil der Navbar mit Zurück-Button -->
                <div class="justify-content-start w-100 mt-2" id="navigationSymbol">
                    <a onclick="navigateBack()">
                        <!-- Zurück-Symbol -->
                        <!-- (Quelle) https://www.svgrepo.com/svg/494008/back -->
                        <img id="backButton" src="{% static 'svg/arrow-back.svg' %}" alt="Zurück">
                    </a>
                </div>
            </div>
        </nav>

        <!-- LoginBereich "Anmelden" VitaNova -->
        <div class="container containerWelcome round center hide" id="welcomePage">
            <div class="loginfield">
                <div class="rowextend">
                    <span class="spanWelcome">Willkommen</span>
                    <form>
                        <div class="formBox input-container">
                            <div class="input-container">
                                <input type="text" id="username" placeholder=" "
                                    value="{{ participant_name_with_suffix }}" readonly autocomplete="username" />
                                <label for="username">Nutzername</label>
                            </div>
                        </div>
                        <div class="formBox input-container">
                            <div class="input-container">
                                <input type="password" id="password" placeholder=" " readonly
                                    autocomplete="current-password" />
                                <label for="password">Passwort</label>
                            </div>
                        </div>
                    </form>
                    <div class="rowextend center">
                        <div class="formBox">
                            <button class="btn submit rounded-pill btn-primary" type="submit"
                                id="btnWelcome">Anmelden</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <header id="banner" class="banner" style="display: none">
            <div class="banner-content">
                <span class="banner-subtitel">Willkommen</span>
                <h1 class="banner-titel">{{ participantGender_speech }} {{ participantName }}!</h1>
                <!-- Willkommensnachricht -->
                <div id="welcomeMessage" class="container containerextend" style="display: none">
                    <div class="notification-box">
                        <a onclick="handleMailboxNavigation()" style="cursor: pointer;">
                            <div class="row centered-content">
                                <div class="col-auto centered-content">
                                    <!-- User-Bell-Logo -->
                                    <!-- (Quelle) https://www.svgrepo.com/svg/513429/bell -->
                                    <img class="notificationbell" src="{% static 'svg/bell.svg' %}">
                                </div>
                            </div>
                            <div class="row centered-content">
                                <div class="col-auto centered-content">
                                    <div class="col centered-content banner-text">
                                        In Ihrem Postfach befinden sich neue Nachrichten.
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="formBox">
                            <button class="btn submit rounded-pill btn-primary" type="submit" style="max-width: 300px;"
                                onclick="handleMailboxNavigation()">
                                Zum Postfach
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Container Mailverteiler -->
        <div id="MailContainerMobile" class="container containerextend" style="justify-content: center;">
            <div id="inboxPage" class="page" style="margin-top: 5%;">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch" style="justify-content: center;">
                            <div id="folderPage" class="page active mail-sidebar d-block bg-white">
                                <div class="menu-bar">
                                    <ul class="menu-items">
                                        <li style="font-weight: 600; color: #008080; cursor: pointer;"
                                            onclick="navigateTo('mailPreviews'), showNavigation()"><a
                                                style="color: #008080;"><i class="mdi mdi-email-outline"></i></a><span
                                                class="mailbox-text">Nachrichten-Eingang<span style="color: #008080;"
                                                    class="badge badge-pill badge-success"><span
                                                        id="inboxNumber">6</span></span></li>
                                        <li><a><i class="mdi mdi-share"></i></a><span
                                                class="mailbox-text">Gesendet</span></li>
                                        <li><a><i class="mdi mdi-file-outline"></i></a><span
                                                class="mailbox-text">Entwürfe<span
                                                    class="badge badge-pill badge-warning"></span></span>
                                        </li>
                                        <li><a><i class="mdi mdi-upload"></i></a><span class="mailbox-text">Ausgang<span
                                                    class="badge badge-pill badge-danger"></span></span>
                                        </li>
                                        <li><a><i class="mdi mdi-delete"></i></a><span
                                                class="mailbox-text">Papierkorb</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MailPreview -->
            <div id="mailPreviews" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-list mailpreview-container border-right bg-white">

                                <!-- Mailvorschau 10 (X) -->
                                <div id="mail_Preview10" class="mail-list mailpreview" style="cursor: pointer;"
                                    onclick="navigateTo('mail_10'), removeDot(10)">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="blue-dot" id="blueDot10"></div>
                                        </div>
                                        <div class="col-auto" style="max-width: 80%;">
                                            <p class="sender-name">Fortbildung im August</p>
                                            <p class="message_text">Hallo <span>{{ participantGender_speech }}</span>
                                                <span>{{ participantName }}</span>,
                                                ich plane gerade unsere nächsten Fortbildungen für Ende August und
                                                möchte sicherstellen, dass wir Themen anbieten, die für alle im Team
                                                interessant sind.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mailvorschau 1 -->
                                <div id="mail_Preview1" class="mail-list mailpreview" style="cursor: pointer;"
                                    onclick="navigateTo('mail1'), removeDot(1)">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="blue-dot" id="blueDot1"></div>
                                        </div>
                                        <div class="col-auto" style="max-width: 80%;">
                                            <p class="sender-name">Stellenausschreibung 2. OG</p>
                                            <p class="message_text">Hallo <span>{{ participantGender_speech }}</span>
                                                <span>{{ participantName }}</span>,
                                                wie befürchtet bin ich leider krank geworden und arbeite diese Woche von
                                                zu Hause. Ich hatte noch keine Zeit, die beiden Unterlagen der neuen
                                                Bewerber für die Stellenausschreibung der Bereichsleitung im 2. OG zu
                                                überprüfen, die gestern von eurer Abteilung an mich weitergeleitet
                                                wurden.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mailvorschau 20 (Y) -->
                                <div id="mail_Preview20" class="mail-list mailpreview" style="cursor: pointer;"
                                    onclick="navigateTo('mail_20'), removeDot(20)">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="blue-dot" id="blueDot20"></div>
                                        </div>
                                        <div class="col-auto" style="max-width: 80%;">
                                            <p class="sender-name">Bestellung von medizinischem Verbrauchsmaterial</p>
                                            <p class="message_text">{{ participantGender_titel }}
                                                <span>{{ participantGender_speech }}</span>
                                                <span>{{ participantName }}</span>,
                                                ich habe letzte Woche eine Bestellung für Desinfektionsmittel
                                                und sterile Handschuhe aufgegeben. Da unser Vorrat zur Neige geht,
                                                wollte ich nachfragen, ob Sie Informationen zum Lieferstatus haben.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mailvorschau 2 -->
                                <div id="mail_Preview2" class="mail-list mailpreview" style="cursor: pointer;"
                                    onclick="navigateTo('mail2'),changeColor(), removeDot(2)">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="blue-dot" id="blueDot2"></div>
                                        </div>
                                        <div class="col-auto" style="max-width: 80%;">
                                            <p class="sender-name">Dringendes Sicherheitsupdate erforderlich!</p>
                                            <p class="message_text">{{ participantGender_titel }}
                                                <span>{{ participantGender_speech }}</span>
                                                <span>{{ participantName }}</span>,
                                                um die Sicherheit unseres Netzwerks zu gewährleisten, führen wir heute
                                                ein dringendes Sicherheits­update durch.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mailvorschau 3 -->
                                <div id="mail_Preview3" class="mail-list mailpreview" style="cursor: pointer;"
                                    onclick="navigateTo('mail3'), removeDot(3)">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="blue-dot" id="blueDot3"></div>
                                        </div>
                                        <div class="col-auto" style="max-width: 80%;">
                                            <p class="sender-name">Patient A793564 - Besprechungsunterlagen</p>
                                            <p class="message_text">Hallo <span>{{ participantGender_speech }}</span>
                                                <span>{{ participantName }}</span>,
                                                vielen Dank für Ihre Unterstützung gestern bei der
                                                Patienten&shyfall&shybesprechung. Mir ist gerade aufgefallen, dass Sie
                                                die Besprechungs&shyunterlagen nach dem Speichern auf Ihrem Computer auf
                                                Ihr persönliches USB-Laufwerk kopiert haben und nicht auf das zentrale
                                                Laufwerk.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mailvorschau 4 -->
                                <div id="mail_Preview4" class="mail-list mailpreview" style="cursor: pointer;"
                                    onclick="navigateTo('mail4'), removeDot(4)">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="blue-dot" id="blueDot4"></div>
                                        </div>
                                        <div class="col-auto" style="max-width: 80%;">
                                            <p class="sender-name">HealthDesk Version 3.1</p>
                                            <p class="message_text">{{ participantGender_titel }}
                                                <span>{{ participantGender_speech }}</span>
                                                <span>{{ participantName }}</span>,
                                                ich habe noch eine Bitte an Sie. Wie Sie wissen, bin ich derzeit
                                                außer Haus und werde erst nach dem Meeting heute zurückkehren.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <!-- Button zur Qualtrics Umfrage -->
                                <div class="rowextend center" id="completionSection">
                                    <div class="rowextend center" style="margin: 0% 5% 0% 5%;">
                                        <br><br>
                                        <span class="center">Sobald Sie alle E-Mails bearbeitet haben, beenden Sie
                                            bitte Ihre Arbeit.<br><br>
                                            Vielen Dank!</span>
                                        <br>
                                    </div>
                                    <div class="formBox">
                                        <button class="btn submit rounded-pill btn-primary" style="margin-bottom: 60px;"
                                            type="button" id="openSurvey">Arbeit abschließen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mailinhalt_10 (X) -->
            <div id="mail_10" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-view d-block bg-white">
                                <div class="message-body">
                                    <div class="sender-details">
                                        <div class="details">
                                            <p class="msg-subject">
                                                <b>Betreff:</b> Fortbildung im August
                                                <br><b>Von:</b> weber@vitanova.de
                                                <br><b>An:</b> <span>{{ participant_name_with_suffix }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="message-content border-left">
                                        <p>Hallo <span>{{ participantGender_speech }}</span>
                                            <span>{{ participantName }}</span>,
                                            <br><br>
                                            ich plane gerade unsere nächsten Fortbildungen für Ende August und möchte
                                            sicherstellen, dass wir Themen anbieten, die für alle im Team interessant
                                            sind. Spricht dich eines der Themen besonders an?
                                        <ol>
                                            <li><span class="bold">Zeitmanagement:</span> Effektive Techniken zur
                                                besseren Organisation deiner Arbeitszeit</li>
                                            <li><span class="bold">Kommunikation im Team:</span> Verbesserung der
                                                Teamkommunikation und Konfliktlösung</li>
                                            <li><span class="bold">Gesundheitsmanagement:</span> Strategien zur
                                                Förderung der körperlichen und geistigen Gesundheit am Arbeitsplatz</li>
                                        </ol>
                                        Oder hast du andere Vorschläge? <br><br>

                                        Liebe Grüße<br>
                                        <span class="bold">Patrick Weber</span><br>
                                        <span class="bold">Personalentwicklung</span><br>
                                        </p>
                                        <hr>
                                        <div class="col center">
                                            <div class="rowextend center">
                                                <div class="formBox">
                                                    <button class="btn submit rounded-pill btn-primary" type="submit"
                                                        id="openAnswerPopUp10">Antworten</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mailinhalt 1 -->
            <div id="mail1" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-view d-block bg-white">
                                <div class="message-body">
                                    <div class="sender-details">
                                        <div class="details">
                                            <p class="msg-subject">
                                                <b>Betreff:</b> Stellenausschreibung 2. OG
                                                <br><b>Von:</b> jennifer.schulze@gmail.de
                                                <br><b>An:</b> <span>{{ participant_name_with_suffix }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="message-content border-left">
                                        <p>Hallo <span>{{ participantGender_speech }}</span>
                                            <span>{{ participantName }}</span>,
                                            <br><br>
                                            wie befürchtet bin ich leider krank geworden und arbeite diese Woche von zu
                                            Hause. Ich hatte noch keine Zeit, die beiden Unterlagen der neuen Bewerber
                                            für die Stellenausschreibung der Bereichsleitung im 2. OG zu überprüfen, die
                                            gestern von eurer Abteilung an mich weitergeleitet wurden.<br><br>
                                            Wir müssen <span class="bold">zeitnah</span> eine Rückmeldung an Herrn Dr.
                                            Bergmann geben, weshalb ich die Unterlagen heute benötige. Da ich von zu
                                            Hause aus nicht auf meine Arbeits-E-Mails zugreifen kann, bitte ich dich,
                                            mir <span class="bold">die Bewerbungsunterlagen</span> an <span
                                                class="bold">diese E-Mail-Adresse</span> zu senden.<br> Danke für die
                                            Hilfe und hoffentlich auf bald wieder vor Ort.<br><br>

                                            Mit besten Grüßen<br>
                                            <span class="bold">Jennifer Schulze</span><br>
                                            <span class="bold">Buchhaltung</span><br>
                                        </p>
                                        <hr>
                                        <div class="col center">
                                            <div class="rowextend center">
                                                <div class="formBox">
                                                    <button class="btn submit rounded-pill btn-primary" type="submit"
                                                        id="openAnswerPopUp1">Antworten</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mailinhalt_20 (Y) -->
            <div id="mail_20" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-view d-block bg-white">
                                <div class="message-body">
                                    <div class="sender-details">
                                        <div class="details">
                                            <p class="msg-subject">
                                                <b>Betreff:</b> Bestellung von medizinischem Verbrauchsmaterial
                                                <br><b>Von:</b> hoffmann@vitanova.de
                                                <br><b>An:</b> <span>{{ participant_name_with_suffix }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="message-content border-left">
                                        <p> {{ participantGender_titel }} <span>{{ participantGender_speech }}</span>
                                            <span>{{ participantName }}</span>,
                                            <br><br>
                                            ich habe letzte Woche eine Bestellung für Desinfektionsmittel und
                                            sterile Handschuhe aufgegeben. Da unser Vorrat zur Neige geht, wollte ich
                                            nachfragen, ob Sie Informationen zum Lieferstatus haben.
                                            <br><br>
                                            Hier sind die bestellten Artikel und Mengen:
                                        <ul>
                                            <li>Desinfektionsmittel: 10 Flaschen</li>
                                            <li>Sterile Handschuhe (Größe M): 5 Packungen</li>
                                            <li>Sterile Handschuhe (Größe L): 5 Packungen</li>
                                        </ul>
                                        Könnten Sie mir bitte den <span class="bold">aktuellen Status</span> der
                                        Lieferung mitteilen und wann wir mit der <span class="bold">Ankunft der
                                            Materialien</span> rechnen können?
                                        <br><br>
                                        Vielen Dank für Ihre Unterstützung!
                                        <br><br>
                                        Mit freundlichen Grüßen<br>
                                        <span class="bold">Lena Hoffmann</span><br>
                                        <span class="bold">Einkaufsabteilung</span><br>
                                        </p>
                                        <hr>
                                        <div class="col center">
                                            <div class="rowextend center">
                                                <div class="formBox">
                                                    <button class="btn submit rounded-pill btn-primary" type="submit"
                                                        id="openAnswerPopUp20">Antworten</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mailinhalt 2 -->
            <div id="mail2" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-view d-block bg-white">
                                <div class="message-body">
                                    <div class="sender-details">
                                        <div class="details">
                                            <p class="msg-subject">
                                                <b>Betreff:</b> Dringendes Sicherheitsupdate erforderlich!
                                                <br><b>Von:</b> re-rpcesl-vsey9o@news-mail.de
                                                <br><b>An:</b> <span>{{ participant_name_with_suffix }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="message-content border-left">
                                        <p> {{ participantGender_titel }} <span>{{ participantGender_speech }}</span>
                                            <span>{{ participantName }}</span>,
                                            <br><br>
                                            Um die Sicherheit unseres Netzwerks zu gewährleisten, führen wir heute ein
                                            dringendes Sicherheits&shy;update durch. Um Kompatibilitäts&shy;probleme zu
                                            vermeiden, sind <span class="bold">alle Nutzer aufgefordert</span>, ihre
                                            Systeme <span class="bold">bis zum Ende des Tages zu
                                                aktualisieren</span>.<br><br>
                                            Bitte <span class="bold">klicken Sie auf den nachfolgenden Link</span>, um
                                            das Update zu starten: <br><br>

                                            <a id="updateLink" onclick="openUpdatePopUp()">Update starten</a> <br><br>
                                            Sollten Sie das Update nicht durchführen, kann dies zu einem <span
                                                class="bold">temporären Ausschluss vom Netzwerk</span> führen.<br>

                                            Bitte geben Sie uns <span class="bold">eine Rückmeldung</span>, sobald Sie
                                            das Update durchgeführt haben.<br><br>
                                            Mit freundlichen Grüßen<br>
                                            <span class="bold">Ihre IT-Abteilung</span><br>
                                        </p>
                                        <hr>
                                        <div class="col center">
                                            <div class="rowextend center">
                                                <div class="formBox">
                                                    <button class="btn submit rounded-pill btn-primary" type="submit"
                                                        id="openAnswerPopUp2">Antworten</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mailinhalt 3 -->
            <div id="mail3" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-view d-block bg-white">
                                <div class="message-body">
                                    <div class="sender-details">
                                        <div class="details">
                                            <p class="msg-subject">
                                                <b>Betreff:</b> Patient A793564 - Besprechungsunterlagen
                                                <br><b>Von:</b> diepholz@vitanova.com
                                                <br><b>An:</b> <span>{{ participant_name_with_suffix }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="message-content border-left">
                                        <p>
                                            Hallo <span>{{ participantGender_speech }}</span>
                                            <span>{{ participantName }}</span>,
                                            <br><br>
                                            vielen Dank für Ihre Unterstützung gestern bei der
                                            Patienten&shyfall&shybesprechung. Mir ist gerade aufgefallen, dass Sie die
                                            Besprechungs&shyunterlagen nach dem Speichern auf dem Computer auf <span
                                                class="bold">Ihr persönliches USB-Laufwerk</span> kopiert haben und
                                            nicht auf das zentrale Laufwerk.<br><br> Da Ihr USB-Laufwerk <span
                                                class="bold"> passwort&shygeschützt ist</span>, kann ich <span
                                                class="bold">nicht</span> auf die Unterlagen zugreifen. Die Besprechung
                                            mit der Kranken&shyhaus&shyleitung beginnt in 15 Minuten. Könnten Sie mir
                                            bitte <span class="bold">schnellstmöglich</span> das <span
                                                class="bold">Passwort</span> für Ihren USB-Stick <span
                                                class="bold">schicken</span>? <br> Vielen Dank für Ihre Hilfe!<br><br>

                                            Mit besten Grüßen<br>
                                            <span class="bold">Michael Diepholz</span><br>
                                            <span class="bold">Patientenmanagement</span><br>
                                        </p>
                                        <hr>
                                        <div class="col center">
                                            <div class="rowextend center">
                                                <div class="formBox">
                                                    <button class="btn submit rounded-pill btn-primary" type="submit"
                                                        id="openAnswerPopUp3">Antworten</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mailinhalt 4 -->
            <div id="mail4" class="page">
                <div class="content-wrapper">
                    <div class="email-wrapper wrapper">
                        <div class="row align-items-stretch">
                            <div class="mail-view d-block bg-white">
                                <div class="message-body">
                                    <div class="sender-details">
                                        <div class="details">
                                            <p class="msg-subject">
                                                <b>Betreff:</b> HealthDesk Version 3.1
                                                <br><b>Von:</b> dr.bergmann@vitanova.com
                                                <br><b>An:</b> <span>{{ participant_name_with_suffix }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="message-content border-left">
                                        <p>{{ participantGender_titel }} <span>{{ participantGender_speech }}</span>
                                            <span>{{ participantName }}</span>,
                                            <br><br>
                                            ich habe noch eine Bitte an Sie. Wie Sie wissen, bin ich derzeit außer Haus
                                            und werde erst nach dem Meeting mit der Krankenhausleitung zurückkehren. Wir
                                            haben bei uns auf der Etage momentan noch die <span class="bold">alte
                                                Version 3.0 von HealthDesk</span> und unsere PCs erhalten erst kommende
                                            Woche das Update. Um <span class="bold">alle relevanten Daten</span> für den
                                            Patienten in das System eintragen zu können, <span class="bold">benötige ich
                                                die neue Version 3.1</span> mit den entsprechenden
                                            Erweiterungen.<br><br> Frau Schulze hat mir gerade erzählt, dass Sie bereits
                                            die neue Version 3.1 besitzen? Könnten Sie bitte Ihren Computer <span
                                                class="bold">angemeldet lassen</span>, damit ich später auf die <span
                                                class="bold">HealthDesk Version 3.1 zugreifen</span> und die Daten des
                                            Patienten <span class="bold">eintragen kann</span>, so wie es Herr Diepholz
                                            letzte Woche getan hat? <br> Vielen Dank und bis morgen.<br><br>

                                            Mit freundlichen Grüßen<br>
                                            <span class="bold">Dr. Johannes Bergmann</span><br>
                                            <span class="bold">Medizinische Leitung</span><br>
                                        </p>
                                        <hr>
                                        <div class="col center">
                                            <div class="rowextend center">
                                                <div class="formBox">
                                                    <button class="btn submit rounded-pill btn-primary" type="submit"
                                                        id="openAnswerPopUp4">Antworten</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer ist unten fixiert -->
        <footer class="fixed-bottom" id="footerColor" style="display: none;">
            <span>© 2024 VitaNova</span>
        </footer>
    </div>

    <!-- Antworten (Pop-Ups) -->
    <!-- Antwort E-Mail_10 (X) -->
    <div class="popup" id="Antwort_Email_10">
        <div class="container round popup-content" style="text-align: left;">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn" onclick="closeAnswerPopUp(10)">
                    <span>&times;</span>
                </div>
            </div>
            <br>
            <div class="rowextend center">
                <h5>Antwort an Patrick Weber</h5><br>
            </div>

            <!-- Input field for the response -->
            <div class="rowextend center mt-3">
                <textarea class="form-control" id="responseText10" rows="5" maxlength="500"
                    placeholder="Bitte schreiben Sie Ihre Antwort hier ... "></textarea>
                <div class="text-right">
                    <span id="charCount10">500</span> Zeichen verbleibend
                </div>
            </div>
            <br>
            <span class="note">[<span class="hinweis">Hinweis:</span> Geben Sie ein <span class="bold">Feedback</span>
                zu der Themenauswahl]</span>
            <br><br>
            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" id="sendAnswer10" disabled>
                        Antwort senden
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Antwort E-Mail 1 -->
    <div class="popup" id="Antwort_Email_1">
        <div class="container round popup-content" style="text-align: left;">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn" onclick="closeAnswerPopUp(1)">
                    <span>&times;</span>
                </div>
            </div>
            <br>
            <div class="rowextend center">
                <h5>Antwort an Jennifer Schulze</h5><br>
            </div>

            <!-- Input field for the response -->
            <div class="rowextend center mt-3">
                <textarea class="form-control" id="responseText1" rows="5" maxlength="500"
                    placeholder="Bitte schreiben Sie Ihre Antwort hier ... "></textarea>
                <div class="text-right">
                    <span id="charCount1">500</span> Zeichen verbleibend
                </div>
            </div>
            <br>
            <span class="note">[<span class="hinweis">Hinweis:</span> Das Dokument können Sie <span class="bold">per
                    Klick</span> als Anhang hinzuzufügen]</span>
            <br><br>
            <div class="document-container">
                <div class="document-tile" id="documentTile">
                    <img src="{% static 'svg/pdf.svg' %}" alt="Dokument" class="document-icon">
                    <span class="document-name">Unterlagen<br>Bewerber.pdf</span>
                    <span class="selection-check" id="selectionCheck"></span>
                </div>
            </div>

            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" id="sendAnswer1" disabled>
                        Antwort senden
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Antwort E-Mail_20 (Y) -->
    <div class="popup" id="Antwort_Email_20">
        <div class="container round popup-content" style="text-align: left;">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn" onclick="closeAnswerPopUp(20)">
                    <span>&times;</span>
                </div>
            </div>
            <br>
            <div class="rowextend center">
                <h5>Antwort an Lena Hoffmann</h5><br>
            </div>

            <!-- Input field for the response -->
            <div class="rowextend center mt-3">
                <textarea class="form-control" id="responseText20" rows="5" maxlength="500"
                    placeholder="Bitte schreiben Sie Ihre Antwort hier ... "></textarea>
                <div class="text-right">
                    <span id="charCount20">500</span> Zeichen verbleibend
                </div>
            </div>
            <br>
            <span class="note">[<span class="hinweis">Hinweis:</span> Die Lieferung wurde bereits <span
                    class="bold">verschickt</span> und wird voraussichtlich in <span class="bold">1-2 Tagen</span>
                eintreffen.]</span>
            <br><br>
            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" id="sendAnswer20" disabled>
                        Antwort senden
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Antwort E-Mail 2 -->
    <div class="popup" id="Antwort_Email_2">
        <div class="container round popup-content" style="text-align: left;">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn" onclick="closeAnswerPopUp(2)">
                    <span>&times;</span>
                </div>
            </div>
            <br>
            <div class="rowextend center">
                <h5>Antwort an die IT-Abteilung</h5><br>
            </div>

            <!-- Input field for the response -->
            <div class="rowextend center mt-3">
                <textarea class="form-control" id="responseText2" rows="5" maxlength="500"
                    placeholder="Bitte schreiben Sie Ihre Antwort hier ... "></textarea>
                <div class="text-right">
                    <span id="charCount2">500</span> Zeichen verbleibend
                </div>
            </div>
            <br>

            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" id="sendAnswer2" disabled>
                        Antwort senden
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Antwort E-Mail 3 -->
    <div class="popup" id="Antwort_Email_3">
        <div class="container round popup-content" style="text-align: left;">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn" onclick="closeAnswerPopUp(3)">
                    <span>&times;</span>
                </div>
            </div>
            <br>
            <div class="rowextend center">
                <h5>Antwort an Michael Diepholz</h5><br>
            </div>

            <!-- Input field for the response -->
            <div class="rowextend center mt-3">
                <textarea class="form-control" id="responseText3" rows="5" maxlength="500"
                    placeholder="Bitte schreiben Sie Ihre Antwort hier ... "></textarea>
                <div class="text-right">
                    <span id="charCount3">500</span> Zeichen verbleibend
                </div>
            </div>
            <br>
            <span class="note">[<span class="hinweis">Hinweis:</span> Passwort des USB-Laufwerks: <span
                    class="bold">Vit@USB-Drive</span>]</span>
            <br><br>
            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" id="sendAnswer3" disabled>
                        Antwort senden
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Antwort E-Mail 4 -->
    <div class="popup" id="Antwort_Email_4">
        <div class="container round popup-content" style="text-align: left;">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn" onclick="closeAnswerPopUp(4)">
                    <span>&times;</span>
                </div>
            </div>
            <br>
            <div class="rowextend center">
                <h5>Antwort an Dr. Johannes Bergmann</h5><br>
            </div>

            <!-- Input field for the response -->
            <div class="rowextend center mt-3">
                <textarea class="form-control" id="responseText4" rows="5" maxlength="500"
                    placeholder="Bitte schreiben Sie Ihre Antwort hier ... "></textarea>
                <div class="text-right">
                    <span id="charCount4">500</span> Zeichen verbleibend
                </div>
            </div>
            <br>
            <span class="note">[<span class="hinweis">Hinweis:</span> Geben Sie eine <span
                    class="bold">Rückmeldung</span> bezüglich der Software]</span>
            <br><br>
            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" id="sendAnswer4" disabled>
                        Antwort senden
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Pop-up -->
    <div id="updatePopup" class="popup">
        <div class="popup-content">
            <div class="rowextend">
                <!-- Close button "X" -->
                <div class="popupcol close-btn hidden" id="closeUpdateBtn" onclick="closeUpdatePopUp()">
                    <span>&times;</span>
                </div>
            </div>
            <p id="updateStatus">Update startet ...</p>
            <div id="loadingSpinner" class="spinner"></div>
            <div id="successIcon" class="success hidden">
                <i class="checkmark">✓</i>
            </div>
        </div>
    </div>

    <!-- Pop-Up - Anforderungen der Aufgabe -->
    <div class="popup" id="taskDemand">
        <div class="container round popup-content">
            <div class="rowextend center">
                <span class="spanInfo">Information</span>
            </div>
            <!-- Task Demand -->
            <div class="rowextend center mt-3">
                <span>
                    Im Durchschnitt benötigen Mitarbeiter anderer Branchen <b>15&nbsp;Minuten</b> für die Bearbeitung
                    der nachfolgenden E-Mails. Da der Krankenhausalltag sehr schnelllebig ist, haben Sie <b>lediglich
                        <span style="color: red;">10 Minuten</span> Zeit</b>.<br><br>

                    Bitte halten Sie Ihre Antworten <b>kurz und prägnant</b>, um alle E-Mails innerhalb der vorgegebenen
                    Zeit zu bearbeiten.
                </span>
            </div>

            <div class="rowextend center mt-3">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit" onclick="closeTaskDemandPopUp()">
                        Weiter
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ladespinner -->
    <div class="loader-overlay" id="loaderOverlay2">Kontodetails werden abgerufen<div class="loader" id="spinner2">
        </div>
    </div>

</body>

</html>