{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expandable Div</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS mit individueller Anpassung -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/experiment.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/zTest.css' %}">

</head>

<body>
    <div id="informationMessage">
        <div class="container">
            <div class="rowextend center">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit">Weiter zur
                        Umfrage</button>
                </div>
            </div>
        </div>
        <br><br>

        <!-- Container Pressemitteilung -->
        <div class="container containerMoreInfo round center expandable">
            <div class="rowextend">
                <h1 style="text-align: left;"><span id="changeCompany">Krankenkasse</span> informiert über Cyber-Angriff
                    auf Datenbank</h1>
                <div class="content faded">
                    <div class="flex-container">
                        <div class="text-section">
                            <br>Die <span id="changeCompany">Krankenkasse</span> wurde Anfang August Ziel eines
                            erheblichen
                            Cyber-Angriffs. Durch ein fehlerhaftes Sicherheitsupdate wurde eine Schwachstelle in der
                            Datenbank freigelegt. Während des dreitägigen Angriffs in der ersten Augustwoche gelang
                            es den Hackern, personen&shybezogene Daten wie Namen, Adressen, Versicherungs&shynummern,
                            Kranken&shygeschichten und Bank&shyinformationen von rund 15.000 Kunden zu
                            entwenden.<br>
                            Unmittelbar nachdem die <span id="changeCompany">Krankenkasse</span> von dem Angriff
                            Kenntnis erlangte, wurden alle betroffenen Kunden per E-Mail über den Vorfall informiert.
                            Weiterhin wurden umgehend alle notwendigen Abwehrmaßnahmen ergriffen, um die Integrität der
                            IT-Systeme wiederherzustellen. In Zusammenarbeit mit externen Cybersicherheitsexperten führt
                            das Unternehmen derzeit eine umfassende Untersuchung des Vorfalls durch. Die Untersuchung
                            und Analyse des genauen Ausmaßes der Datenverletzung dauert noch an. Die zuständigen
                            Behörden wurden über den Vorfall informiert. Die <span
                                id="changeCompany">Krankenkasse</span> steht in engem Kontakt mit den
                            Sicherheitsbehörden und ist sich ihrer datenschutzrechtlichen Verpflichtungen bewusst.
                            Gemeinsam mit den Datenschutzbehörden werden die notwendigen Schritte zur vollständigen
                            Erfüllung dieser Verpflichtungen unternommen.<br><br> Die Sicherheit der Informationen der
                            Versicherten ist für die <span id="changeCompany">Krankenkasse</span> von höchster
                            Priorität. Aus diesem Grund hat die Krankenkasse in der Vergangenheit bereits weitreichende
                            Maßnahmen ergriffen, um ihre Cybersicherheit zu gewährleisten und wird dies auch weiterhin
                            tun. Brian Walters, Datenschutz&shybeauftragter der <span
                                id="changeCompany">Krankenkasse</span>, betonte: "Wir setzen alles daran, die
                            Auswirkungen dieses Vorfalls zu minimieren und zukünftige Angriffe zu verhindern. Wir werden
                            unsere Kunden fortlaufend über weitere Entwicklungen informieren." <br><br>
                        </div>
                        <div class="image-section">
                            <div class="image-person1">
                                <!-- Quelle: https://unsplash.com/de/fotos/SJvDxw0azqw -->
                                <img src="{% static 'pictures/pressesprecherin.jpeg' %}">
                                <div class="persontext">
                                    <h3><b>Claudia Krause</b></h3>
                                    <span>Pressesprecherin <br> Wirtschaft & Finanzen</span>
                                    <a class="mail-link">c.krause@<span id="changeCompany">krankenkasse</span>.com</a>
                                </div>
                            </div>
                            <div class="image-person2">
                                <!-- Quelle: https://unsplash.com/de/fotos/pAtA8xe_iVM -->
                                <img src="{% static 'pictures/datenschutzbeauftragter.jpeg' %}"
                                    alt="Beschreibung des zweiten Bildes">
                                <div class="persontext">
                                    <h3><b>Brian Walters</b></h3>
                                    <span>Datenschutz&shybeauftragter</span>
                                    <a class="mail-link">b.walters@<span id="changeCompany">krankenkasse</span>.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="more"></span>
                </div>
                <a href="#" class="toggle">Weiterlesen</a>
            </div>
        </div>



        <!-- Container Zeitungsartikel -->
        <div class="container containerMoreInfo round center expandable">
            <div class="rowextend">
                <h1 class="newspaper-name">Daily Economist</h1>
                <div class="news-banner">
                    NEWS
                    <img style="height: 40px;" src="{% static 'svg/trumpet.svg' %}">
                </div>
                <h2 class="newspaper-title">Die <span id="changeCompany">Krankenkasse</span> nach schwerem
                    Hackerangriff unter Druck</h2>
                <footer>
                    <p class="description">15. September 2023<br>Von Matthias Schulz</p>
                </footer><br>
                <div class="content faded newspaper-text">
                    Die <span id="changeCompany">Krankenkasse</span> steht nach einem beunruhigenden Sicherheitsvorfall,
                    der in der ersten Augustwoche stattfand, im Rampenlicht der Öffentlichkeit. Wie das Unternehmen
                    kürzlich in einer Pressemitteilung bekannt gab, war es Ziel eines erheblichen Cyber-Angriffs. Durch
                    ein fehlerhaftes Sicherheitsupdate wurde eine Schwachstelle in ihrer Datenbank freigelegt, wodurch
                    Hacker Zugriff auf sensible Kundendaten von rund 15.000 Versicherten erlangen konnten. Zu den
                    entwendeten Daten gehören nach ersten Erkenntnissen Namen, Adressen, Versicherungs&shynummern,
                    Kranken&shygeschichten und Bank&shyinformationen. Der Vorfall wirft ernsthafte Fragen über die
                    Sicherheits&shyprotokolle und -praktiken der Krankenkasse auf. <article class="news-article"><span
                            class="more"><br>Das Unternehmen handelte jedoch umgehend und informierte alle betroffenen
                            Kunden per E-Mail über den Sicherheits&shyvorfall. Darüber hinaus wurden externe
                            Cybersicherheits&shyexperten engagiert, um den Angriff zu untersuchen und weitere
                            Sicherheits&shymaßnahmen einzuleiten. Brian Walters, Datenschutzbeauftragter der <span
                                id="changeCompany">Krankenkasse</span>, betonte in der Presse&shymitteilung des
                            Unternehmens, dass man "alles daran setzen wird, die Auswirkungen dieses Vorfalls zu
                            minimieren und zukünftige Angriffe zu verhindern."<br><br> Dieser Vorfall verdeutlicht
                            einmal mehr, wie wichtig es für Unternehmen, insbesondere für solche, die mit sensiblen
                            Kundendaten arbeiten, ist, in robuste Cybersicherheits&shymaßnahmen zu investieren. Laut
                            einer Studie von Kaspersky waren im Jahr 2022 allein in Deutschland ein Viertel der kleinen
                            und
                            mittelständischen Unternehmen (KMU) und weit über die Hälfte der Großunternehmen mit
                            Cyberangriffen konfrontiert (<a
                                href="https://go.kaspersky.com/supply-chain-report-de.html?utm_medium=PR">Kaspersky
                                2022</a>). Der
                            Vorfall bei der <span id="changeCompany">Krankenkasse</span> ist nur einer von vielen in
                            einer wachsenden Liste von Cyberangriffen, die Unternehmen weltweit betreffen. Es bleibt
                            abzuwarten, wie sich dieser Sicherheitsvorfall auf das Vertrauen der Kunden und das Geschäft
                            der <span id="changeCompany">Krankenkasse</span> auswirken wird.<br><br>
                            <!-- Quelle: https://pixabay.com/de/photos/rechner-sicherheit-vorh%C3%A4ngeschloss-1591018/ -->
                            <figure> <img src="{% static 'pictures/cybersecurity.jpeg' %}" alt="Beschreibung des Bildes"
                                    style="max-width: 60%;">
                            </figure>
                            <br>
                    </article>
                    </span>
                    <span><b>Verwandte Themen</b></span>
                    <div class="topic-container">
                        <div class="topic">CyberSecurity</div>
                        <div class="topic">Datenschutzverletzung</div>
                        <div class="topic">Phishing</div>
                    </div>
                    <br>
                </div>
                <a href="#" class="toggle">Weiterlesen</a>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="rowextend center">
                <div class="formBox">
                    <button class="btn submit rounded-pill btn-primary" type="submit">Weiter zur
                        Umfrage</button>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</body>
<script src="{% static 'js/zTest.js' %}"></script>

</html>