{% load static %}
<!DOCTYPE html>
<html lang="de">

<!-- Header: Zusatzinformationen zur Website, wie Titel, Links zu CSS/JavaScript-Dateien, Favicons, andere Metadaten -->
<head>
  <!-- Automatische Einstellung des Contents auf Handys mit Notch (bspw. ab iPhone X) -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Titel im Tab -->
  <title>VitaNova Intranet</title>

  <!-- Favicon der Website
    (Quelle) https://www.svgrepo.com/svg/389918/medicine-symbol -->
  <link rel="shortcut icon" type="image/png" href="{% static 'svg/health-insurance.svg' %}">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- CSS mit individueller Anpassung -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/zTest.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/externalCSS/mailinglist.css' %}" />
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">

  <!-- JavaScript Einbindung -->
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/function.js' %}"></script>
  <script src="{% static 'js/databaseConnection.js' %}"></script> <!-- Datenbankanbindung einbinden POST/GET -->

  <!-- Standard-Skripte Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>

<!-- Body wird flexibel auf die Größe des Viewports angepasst, damit der Footer immer unten ist, Body ist flexibel mit Mindesthöhe 100%  -->

<body>
  <!-- Navigationsbar-->
  <nav class="navbar navbar-light navbar-expand fixed-top sticky-top py-0 center">
    <div id="containernav" class="d-flex flex-column align-items-start w-100">
      <!-- Oberer Teil der Navbar -->
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="navbar-brand js-scroll-trigger navsize a">VitaNova</div>
        <div class="healthSymbolPosition">
          <!-- Health-Insurance-Logo -->
          <!-- (Quelle) https://www.svgrepo.com/svg/389918/medicine-symbol -->
          <a><img class="health-symbol" src="{% static 'svg/health-insurance.svg' %}"></a>
        </div>
        <!-- Timer -->
        <div class="ml-auto" id="timerContainer">
          <span id="timer">01:30</span>
        </div>
        <!-- Navbar Bereich Rechts -->
        <div class="hideLoginArea align-items-center" id="LoginArea">
          <!-- Message-Logo -->
          <!-- (Quelle) https://www.svgrepo.com/svg/501625/message?edit=true -->
          <a onclick="navigateTo('inboxPage'), showMailbox()">
            <img class="messageUnread-logo" src="{% static 'svg/messageUnread.svg' %}" id="messageUnread"
              alt="Nachrichten">
          </a>
          <div class="navbar-brand js-scroll-trigger navsize a"><span>Name</span></div>
        </div>
      </div>
      <!-- Unterer Teil der Navbar mit Zurück-Button -->
      <div class="justify-content-start w-100 mt-2" id="navigationSymbol">
        <a onclick="navigateBack()">
          <!-- Zurück-Symbol -->
          <!-- (Quelle) https://www.svgrepo.com/svg/494008/back -->
          <img id="backButton" src="{% static 'svg/arrow-back.svg' %}" alt="Zurück">
        </a>
      </div>
    </div>
  </nav>

  <!-- Footer ist unten fixiert -->
  <footer class="fixed-bottom footer" id="footerSettings">
    <span>© 2024 VitaNova</span>
  </footer>
</body>

</html>