::selection {
    background: #B4D7FF;
}

::-moz-selection {
    background: #B4D7FF;
}

/* Abstand Überschrift zur Navbar + Hintergrund weiß/grün iPad*/
body {
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 4vw;
    margin: 0px;
    min-height: 800px;
    display: block;
}

.wallpaper {
    background-image: url("{% static 'svg/backgroundHealth.webp' %}");
}

p {
    text-align: justify;
}

.pDatenschutz {
    padding: 0% 1% 0% 1%;
}

h3 {
    font-size: 22px;
}

/* Button Einstellungen */
.submit {
    height: 50px;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(23, 55, 118) !important;
    border: none;
}

.submit:hover {
    background-color: rgb(40, 80, 156) !important;
}

/* Größe der Schrift, wenn das Fenster <= 450px groß ist iPhone*/
@media screen and (max-width: 450px) {
    body {
        width: 100%;
        height: 100%;
        font-size: 17px;
    }

    .containerextend {
        width: 94% !important;
    }

    h3 {
        font-size: 19px !important;
    }
}

/* Größe der Schrift, wenn das Fenster > 900px groß ist  Laptop*/
@media screen and (min-width: 900px) {
    body {
        font-size: 22px;
    }

    p {
        font-size: 22px;
    }

    h3 {
        font-size: 24px !important;
    }

}

/* Größe der Schrift, wenn das Fenster >= 768px groß ist */
@media screen and (min-width: 400px) {
    .navsize {
        font-size: 20px;
    }
}

/* Größe der Schrift, wenn das Fenster <= 768px groß ist */
@media screen and (max-width: 400px) {
    .navsize {
        font-size: 16px;
    }

    .rowextend {
        padding-left: 3%;
        padding-right: 3%;
    }
}

#navbarResponsive {
    font-size: 20px !important;
}

/* Hintergrundbild Body */
.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-size: cover;
}

/* Navbar des Experiments */
#startNav {
    height: auto;
    min-height: 60px;
    background-color: rgb(23, 55, 118);
    margin-bottom: 5%;
}

.navbar {
    margin-bottom: 0px;
    height: auto;
}

.containernav {
    width: 95%;
    height: auto;
}

.navlogo {
    width: 240px;
}

/* Größe des Logos, wenn das Fenster <= 650px groß ist */
@media screen and (max-width: 650px) {
    .navlogo {
        width: 180px;
    }
}

/* Footer */
.footer {
    max-width: 100%;
    min-width: 300px;
    min-height: 50px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-top: 36px;
    color: rgb(0, 0, 0);
    background-color: rgb(208, 208, 210);
    font-size: 14px;
    text-align: center;
}

/* Allgemeine Standardwerte */
/* Containererweiterung */
.containerextend {
    /* max-width: 1200px;
    min-width: 300px;
    width: 90% !important; */
    min-height: 8%;
    height: auto;
    padding: 6%;
    padding-top: 48px;
    padding-bottom: 40px;
    margin-top: 10px;
    /*Abstand zum oberen Container*/
    background-color: rgba(255, 255, 255, 0.9);
    /* box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2); */
}

.containerFooter {
    max-width: 100%;
    min-width: 300px;
    min-height: 50px;
    padding-top: 15px;
    background-color: rgb(80, 80, 80);
}

/* Rowerweiterung */
.rowextend {
    width: 100%;
    text-align: justify;
}

/* Columerweiterung */
.colextend {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Sonstiges */
.round {
    border-radius: 10px;
}

.center {
    text-align: center;
}

/* Überschriften */
.datah1 {
    background-color: rgb(210, 210, 210);
    padding: 2%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left !important;
}

.h1 {
    font-size: 32px;
}

.h2 {
    font-size: calc(1.425rem + 2vw);
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 10px;
}

@media (min-width:1200px) {
    .h2 {
        font-size: 2.6rem
    }
}

.h3 {
    font-size: 24px;
}

.checkit {
    text-align: left;
    padding-bottom: 10px;
}

.jumbotron {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Kontroll-Fragen-Seite CSS */

.required {
    display: none;
    color: rgb(220, 53, 69);
}

.questions {
    padding-bottom: 6px;
}

.option {
    padding-top: 2%;
    padding-left: 2.5%;
    text-align: left;
}

.input[type="radio"] {
    vertical-align: middle;
}

/* Inputfeld für Eingabe der Krankenkasse, des Nachnamens und des Geschlechts */

.input-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.input-container input,
.input-container select {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    color: #777;
    padding-left: 10px;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label,
.input-container select:focus+label,
.input-container select:not(:placeholder-shown)+label {
    top: -20px;
    font-size: 12px;
    color: #000;
    padding-left: 0px;
}

.input-container.error input,
.input-container.error select {
    border-color: red;
}