/* Body */
body {
    display: block;
    font-size: 22px;
    min-height: 800px;
    overscroll-behavior: none;
    transition-duration: 0.75s;
    user-select: auto;
}

/* Background Image */
body:before {
    background-color: #fff;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: -10;
}

/* Responsive Background Image */
@media screen and (max-width: 800px) {
    body:before {
        background-color: #fff;
        background-size: cover;
        content: "";
        display: block;
        height: 850px;
        left: 0;
        bottom: 0;
        position: fixed;
        width: 100%;
    }
}

#mainContent {
    display: none;
}

/* Navbar & Logo */
.containernav {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    padding: 1% 5% 1% 5%;
    position: relative;
    width: 100%;
}

/* Sicherheitsinformationen (Mobile und PC) */
#SecurityInfoMobile,
#SecurityInfoPC {
    display: none;
    margin-top: 5%;
    min-height: 600px;
}

#SecurityInfoPC {
    margin-top: 0%;
}

a {
    cursor: pointer;
}

/* Login */
#login,
#loginAfter {
    color: black;
    display: flex;
    text-decoration: none;
}

#loginAfter {
    display: none;
}

#login:hover {
    cursor: pointer;
    filter: opacity(40%);
}

#loginSymbol {
    height: 40px;
    margin-top: -5%;
}

#messageLoginSymbol {
    height: 36px;
    margin-top: -1%;
}

#loginText {
    margin-right: 5%;
}

.messageSymbol {
    cursor: pointer;
    height: 40px;
    margin-right: 10px;
    margin-top: -20%;
}

.notificationbell {
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
}

#messageRead {
    display: none;
    margin-top: -15%;
}

.messageSymbolPosition {
    margin-right: 5%;
}

#hide {
    display: none;
}

#backButton {
    height: 30px;
    margin-top: -5%;
    cursor: pointer;
}

/* Health Logo */
.health-symbol {
    cursor: pointer;
    height: 35px;
    margin-top: -5%;
}

.health-symbol:hover {
    filter: opacity(40%);
}

.healthSymbolPosition {
    margin-left: 0;
    margin-right: auto;
    margin-top: -2px;
}

/* Social Media Icons */
.socialmedia {
    height: 35px;
    padding-right: 5%;
}

.socialmedia:hover {
    cursor: pointer;
    filter: opacity(40%);
}

.messageSenderSymbol {
    height: 35px;
    margin-left: -0.75%;
    margin-top: -2%;
}

/* Aktiver Navigationslink */
.choosed {
    text-decoration: underline;
    text-decoration-thickness: 0.01rem;
    text-underline-offset: 0.4rem;
    cursor: pointer;
}

/* Vorschau für E-Mails */
.mailpreview {
    padding: 5%;
    padding-right: 0%;
    border-bottom: 1px solid #ccc;
    color: #303a40;
    font-size: 1.2rem;
}

.mailpreview:hover {
    background: rgba(240, 244, 249, 0.8);
}

.disabled {
    cursor: default;
    pointer-events: none;
}

#welcomeMessage {
    padding-bottom: 0;
    padding-top: 5%;
}

/* Wenn der Bildschirm schmaler als 768px ist (Mobile) */
@media screen and (max-width: 768px) {
    .health-symbol {
        height: 30px;
    }

    .messageSymbolPosition {
        margin-top: 2.5%;
    }

    .messageSymbol {
        margin-top: -30%;
    }

    #messageRead {
        margin-top: -27.5%;
    }

    .rowextend {
        font-size: 18px !important;
        padding-left: 2%;
        padding-right: 2%;
        /* text-align: left !important; */
    }

    .navbar-nav {
        margin-top: 2.5%;
    }

    #loginSymbol {
        height: 40px;
        margin-top: -10%;
    }

    #loginText {
        margin-right: 5%;
    }

    #welcomeMessage {
        padding-top: 10%;
    }
}

/* Hauptcontainer */
.main-container {
    min-width: 100%;
}

/* Erweiterter Container */
.containerextend {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: auto;
    min-width: 100%;
    padding: 3% 5% 5% 5%;
}

/* Erweiterter Absatz */
.rowextend {
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    width: 100%;
}

/* Erweiterter Abschnitt */
.colextend {
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
}

p {
    font-size: 19px;
    text-align: justify;
}

.center {
    text-align: center !important;
}

.justify {
    text-align: justify !important;
    word-wrap: break-all !important;
}

.input-container select {
    border: none;
    border-bottom: 1px solid #ccc;
    color: rgb(121, 121, 121);
    font-size: 16px;
    height: 30px;
    padding: 5px;
    padding-left: 8px !important;
    width: 100%;
}

.labelsize {
    font-size: 70% !important;
}

/* Unterschrift Datenschutzbeauftragter (frei verwendbar) */
.signature {
    margin-bottom: 2%;
    margin-top: 2%;
    max-height: 70px;
}

/* Footer */
.footer {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    font-size: 14px;
    max-width: 100%;
    min-height: 50px;
    min-width: 300px;
    padding-bottom: 16px;
    padding-top: 36px;
    text-align: center;
}

.jumbotron {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Schriftgrößen & Überschriften */
.h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 20px;
}

.h2 {
    font-family: 'Raleway', sans-serif;
    font-size: calc(1.2rem + 2vw);
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 10px;
    padding-top: 18px;
}

.h3 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 4px;
    padding-top: 8px;
}


/* Automatische Größenanpassung */

@media (min-width: 1200px) {
    .h2 {
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 900px) {

    body,
    p {
        font-size: 22px;
    }
}

@media screen and (min-width: 550px) {
    .navsize {
        font-size: 28px !important;
    }
}

@media screen and (max-width: 450px) {

    body,
    p {
        font-size: 17px;
        text-align: left !important;
    }
}

@media screen and (max-width: 780px) {
    .containerextend {
        padding: 6% 4% 6% 4%;
    }

    .h1 {
        font-size: 32px;
        padding-top: 18px;
    }

    .h3 {
        font-size: calc(1rem + 1.2vw) !important;
    }

    .navsize {
        font-size: 20px !important;
    }

    .footer {
        padding-top: 40px;
    }
}

/* Navbar Logo */
svg {
    clip-rule: evenodd;
    cursor: pointer;
    fill-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
}

svg+svg {
    margin-left: 1.5rem;
}

.navbar-brand.navsize a#changeCompany {
    color: rgb(0, 0, 0);
}

.spanLink {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 5px;
}

.spanLink:hover {
    color: rgb(92, 166, 68);
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-box {
    border: 1px solid rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
    margin: 15px auto;
    margin-top: 40px;
    width: 60%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 6px 12px, rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.extraBold {
    font-weight: 700;
}