/* CSS Klasse für die Darstellung von beispielhaften Produkten */
.slide-container {
  margin-top: auto;
  max-width: 1420px;
  width: 100%;
  padding: 3% 6% 6% 6%;
}

.rowProducts {
  background-color: white;
  padding-top: 3%;
  padding-bottom: 16px;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: -4%;

}

.slide-content {
  /* margin: 0 40px; */
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 25px;
}

/* Produkt Cards */
.card {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: center;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 6px 12px, rgba(0, 0, 0, 0.24) 0px 8px 8px;
  margin-top: 10%;
  margin-bottom: 15%;
}

.cardsize {
  width: auto;
  min-width: 15rem;
  max-width: 18rem;
}

.card-img-top {
  width: 100%;
  height: 17vw;
  min-height: 200px;
  object-fit: cover;
  border-radius: 25px 25px 25px 0px;
}

/* Card-Inhalt */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: rgb(50, 50, 50);
  padding-top: 14px;
  margin-bottom: -2px;
}

.descriptionOptions {
  font-size: 16px;
  color: rgb(112, 112, 112);
  text-align: center !important;
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 2px;
  min-height: 60px;
}

.button {
  height: 50px;
  border: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  background-color: rgb(92, 166, 68);
  border-radius: 25px;
  margin: 14px;
  cursor: pointer;
  min-width: 60%;
}

.button:hover {
  background-color: rgb(70, 133, 46) !important;
}

/* Button Einstellungen */
.submit {
  height: 50px;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  background-color: rgb(23, 55, 118) !important;
  border: none;
}

.submit:hover {
  background-color: rgb(40, 80, 156) !important;
}

/* Buttons links/rechts zum Durchiterieren der Produkte */
.swiper-navBtn {
  color: rgb(92, 166, 68) !important;
}

.swiper-navBtn:hover {
  color: rgb(92, 166, 68) !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
  padding-bottom: 20px;
}

.swiper-button-prev {
  left: 0;
  padding-bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: rgb(92, 166, 68) !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(92, 166, 68) !important;
}

/* Grafische Anpassung bei Bildschirmgröße <768px (bspw. Handy) */
@media screen and (max-width: 768px) {
  .imgTop {
    height: 200px;
  }

  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }

  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 25px !important;
  }

  .swiper-button-next {
    /* margin-left: 26px; */
  }

  .swiper-button-prev {
    /* margin-right: 26px; */
  }

  h3 {
    font-size: 18px !important;
  }

  /* Verteilung der Elemente im Footer */
  .gridFooter {
    flex-direction: column;
    display: flex;
  }
}

.footerProducts {
  font-size: 14px;
  text-align: center;
}

section {
  padding-bottom: 16px;
}

figure {
  margin-bottom: 0px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: calc(1rem + 0.3vw);
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 2px;
}